.Cart {
  margin-top: 3rem;
  margin-inline: 5rem;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1rem 4rem; 
  grid-template-areas: 
    "cart cart summary"
    ". . checkout"; 
}

.CartSection {
  grid-area: cart;
  display: flex;
  flex-flow: column nowrap;
}

.CartSummary {
  grid-area: summary;
}

.CartFormContainer {
  margin-inline: 2rem;
  grid-area: checkout;
}